@page "{searchString?}"
@model Tazer.Pages.Apparels.IndexModel

@{
    ViewData["Title"] = "My Items";
}
<head>
    <!DOCTYPE html>
    <html lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/myItems.css"/>
    <link rel="stylesheet" href="~/font-awesome/css/all.css"/>
    <title>My Items</title>
</head>
<body>
    <section id="product1" class="section-p1">
        <h2>All Posted Items</h2>
        <p>Post more for more market visibility.</p>

        <div class="search-wrap">
            <form>
                <p>
                   <input type="text" asp-for="SearchString" placeholder="Find your brand..." class="search"/>
                    <input type="submit" value="Search">
            </form>
        </div>
    </section>
        
    <section id="product1" >
        <div class="pro-container">
            @foreach (var item in Model.Tees) {
            <div class="pro">
                <img src = "~/lib/resources/GraphicTee.png" alt = "product image">
                <div class="des">
                    <h1>@Html.DisplayFor(modelItem => item.Brand)</h1>
                    <hr></hr>
                    <h5>@Html.DisplayFor(modelItem => item.Product)</h5>
                    <div class="star">
                        <h6>Sizes:  @Html.DisplayFor(modelItem => item.Sizes)</h6>
                        <h6>Stock:  @Html.DisplayFor(modelItem => item.Quantity)</h6>
                        <h6>Created: @Html.DisplayFor(modelItem => item.Date)</h6>
                        
                    </div>
                    <h4>₱ @Html.DisplayFor(modelItem => item.Price)</h4>
                </div>
                <div id="buttons" class="buttons">
                    <button class="button-81" role="button"><a asp-page="./Edit" asp-route-id="@item.ID" ><i class="fa fa-pencil-square"></i>  Edit</a></button>
                    <button class="button-81" role="button"><a asp-page="./Details" asp-route-id="@item.ID" ><i class="fa fa-file-text"></i>  Details</a></button>
                    <button class="button-81" role="button"><a asp-page="./Delete" asp-route-id="@item.ID" ><i class="fa fa-trash"></i>  Delete</a></button> 
                </div>
            </div>
            }
         </div>
    </section>
    
    <section id="add-item">
        <button class="add-button"> <a asp-page="Create">Add Items<i class="fa fa-plus-circle plus"></i></a> </button>
    </section>
    
</body>
